/* 공통container 영역 */
.admin-container {
    width: 1500px;
    margin : 0 auto;
}

/* 상단 btn영역 */
.btn-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 75%;
    /* height: 200px; */
    margin: 30px auto;
}

.admin-btn {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 23%;
    padding: 12px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px white solid;
    border-radius: 10px;
    text-align: left;
    margin-right: 10px;
    position: relative;
}
.add-btn2{
        width: 25px;
        position: absolute;
        right: 8px;
        bottom: 12px;
}
.admin-btn:hover{
    background-color: rgba(200, 200, 200, 0.3);
    transition: 0.7s;
}

.admin-btn .btn-title {
    color: #fdeaa8;
    margin-bottom: 5px;
    font-weight: 200;
}

.admin-btn .btn-content {
    color: white;
    font-size: 25px;
    font-weight: 300;
}

/* Today 영역 */
.today-container{
    /* background-color: pink; */
    width: 75%;
    margin : 70px auto 20px;
    display: flex;
    color: white;
}
.today-wrapper{
    padding: 0px 15px;
}

.today-count{
    font-size: 70px;
    font-weight: 200;
    line-height: 75px;
}
.today-title{
    font-weight: 200;
}

/* post영역 */
.recent-posts, .recent-comments, .recent-admin{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.recent-posts{
    /* margin-bottom: 40px; */
}
.posts-main-wrapper, .comments-main-wrapper, .admin-main-wrapper{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    border-bottom: 1.5px solid white;
    height: 50px;
    
}

.posts-main-title, .comments-main-title, .admin-main-title{
    font-size: 20px;
}

/* 더하기 영역 */
.add-wrapper{
    display: flex;
}
.posts-add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
.add-wrapper .posts-add-btn img{
    color: white;
    width: 20px;
    height: 20px;

}

/* text영역 */
.posts-wrapper ,.comments-wrapper,.admin-wrapper{
display: flex;
color: white;
align-items: center;
justify-content: space-around;
text-align: left;
height: 50px;
border-bottom: 0.5px solid white;
}

/* 목록별 크기 */
.posts-boardNo, .comments-boardNo, .admin-boardNo{
    text-align: center;
    width: 5%;
}

.posts-category, .comments-category, .admin-category{
    width: 8%;
}

.posts-title, .comments-title, .admin-title{
    width: 55%;
}
.posts-nickname, .comments-nickname, .admin-nickname{
    width: 10%;
}
.posts-write-date, .comments-write-date, .admin-write-date{
    width: 15%;
}
.posts-view-count, .comments-view-count, .admin-view-count{
    width: 2%;
}


