* {
    box-sizing: border-box;
}
body {
    background: url("../jpg/background.jpg") repeat;
    background-size: 100%;
}

.container {
    padding: 0 50px;
    width: 800px;
    position: absolute;
    top: 110px;
    left: 200px;
}
.container .messageWrapper {
    padding-top: 90px;
    background: url("../jpg/logo_yellow.png") no-repeat;
    background-size: 75px;
}
.container .messageWrapper .message {
    color: #fff;
    font-size: 28px;
    font-weight: lighter;
    margin-bottom: 90px;
}

.container .loginBlock {
    width: 650px;
    color: #fdeaa8;
    font-size: 50px;
    font-weight: lighter;
    position: relative;
    /* border: 1px solid #fff; */
}

.container .loginBlock .login {
    display: flex;
    align-items: center;
    /* border: 1px solid #fff; */
    width: 500px;
}
.container .loginBlock .login .inputwrapper {
    width: fit-content;
    margin: 0 20px;
    /* border: 1px solid #16b2b4; */
    border-bottom: 1px solid gray;
    height: 70px;
    
}

.container .loginBlock .login input {
    font-size: 40px;
    line-height: 40px;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    width: 350px;
    padding-bottom: 20px;
    /* border: 1px solid #a44141; */
}

.container .fail {
    color: rgba(255, 0, 0, 0.63);
    font-weight: lighter;
    position: absolute;
    bottom: 15px;
}
#id, #pw{
    font-weight: 200;
    display: block;
    width: 110px;
    margin-bottom: 0;
    margin-top: 10px;
}

.container .loginBlock button {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    font-weight: 200;
    padding: 4px 27px;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 14px;
    position: absolute;
    right: 0;
    bottom: 15px;
}