/* 공통container 영역 */
.notice-container {
    width: 1000px;
    margin: 0 auto;
}

/* notice 공지작성 */
.notice-main-title{
    color: #fdeaa8;
    padding: 10px;
    font-size: 35px;
    font-weight: 400;
    margin: 100px 0 0px;
}

/* btn 영역 */
.notice-btn-wrapper{
    padding: 10px;

}

.notice-btn-wrapper button{
    height: 40px;
    padding: 0 40px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    margin-right: 3px;
    cursor: pointer;
}

.notice-btn-wrapper button:hover{
    background-color: #fdeaa8;
    transition: 0.8s;
    color: black;
}

.notice-btn-wrapper .btn-click{
    background-color: #fdeaa8;
    color: black;
}

.notice-text-wrapper{
    width: 100%;
    padding: 10px;
}
.text-title{
    color: white;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 10px;
    padding-left: 10px;
}
.text-title:nth-of-type(2){
    margin-top: 20px;
}

/* title,content공통 영역 */
.title-area, .content-area{
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    resize :none;
    border: none;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: baseline;
    padding: 10px;
    /* margin-bottom: 20px; */
    font-weight: 200;
    outline: none;
}

.content-area{
    height: 500px;
}

/* 하단 버튼 */
.notice-confirm-wrapper{
    padding: 10px;
    display: flex;
}   

/* 하단 버튼 공통 영역 */
.back-wrapper, .confirm-btn{
    width: 200px;
    height: 50px;
    margin-bottom: 100px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 19px;
    font-weight: 300;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-btn{
    border: none;
}

.back-wrapper:hover, .confirm-btn:hover{
    background-color: rgba(200, 200, 200, 0.3);
    transition: 0.7s;
}
.back-btn {
    border: none;
    background: none;
    color: white;
    font-size: 19px;
    font-weight: 200;
}

.back-btnImg {
    width: 30px;
    height: 30px;
}