<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlkw.cafe.repository.BoardMapper">

    <select id="search" resultType="board">
        select * from dust_board
        <if test = 'searchBy == "writer"'>
            where id in (select id from dust_member where nickname like concat(‘%’, #{word}, ‘%’))
        </if>
        <if test = 'searchBy == "title"'>
            where title like concat(‘%’, #{word}, ‘%’)
        </if>
        <if test = 'searchBy == "content"'>
            where content like concat(‘%’, #{word}, ‘%’)
        </if>
    </select>

    <select id="findOne" resultType="board">
        select * from dust_board where board_no = #{boardNo}
    </select>

    <update id="modify">
        update dust_board set title = #{title}, content = #{content} where board_no = #{boardNo}
    </update>

    <delete id="remove">
        delete from dust_board where board_no = #{boardNo}
    </delete>


    //동우 내가 쓴 게시물 글 조회
    <select id="myfindAll" resultType="board">
        SELECT board_no, title, content, id, written_date, view_count
        FROM dust_board
        WHERE id=#{id}
        ORDER BY board_no
    </select>

    //동우 내가 쓴 댓글 조회
    <select id="myCommentList" resultType="comment">
        SELECT comment_num, content, id, written_date, view_count
        From dust_comment
        Where id=#{id}
        ORDER BY comment_num
    </select>


</mapper>