<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlkw.cafe.repository.BoardMapper">

    <select id="search" resultType="board">
        select * from dust_board
        <if test='searchBy == "writer"'>
            where id in (select id from dust_member where nickname like concat('%', #{word}, '%'))
        </if>
        <if test = 'searchBy == "title"'>
            where title like concat('%', #{word}, '%')
        </if>
        <if test = 'searchBy == "content"'>
            where content like concat('%', #{word}, '%')
        </if>
        <if test='searchBy == "distinguish"'>
            where distinguish =#{word}
        </if>

    </select>

    <select id="findOne" resultType="board">
        select * from dust_board where board_no = #{boardNo}
    </select>

    <update id="modify">
        update dust_board set title = #{title}, content = #{content} where board_no = #{boardNo}
    </update>

    <delete id="remove">
        delete from dust_board where board_no = #{boardNo}
    </delete>

    <select id="myfindAll" resultType="board">
        SELECT board_no, title, content, id, written_date, view_count, category
        FROM dust_board
        WHERE id=#{id}
        ORDER BY board_no
    </select>



    <select id="myBoardOne" resultType="board">
        SELECT board_no, title, content, id, written_date, view_count, category
        FROM dust_board
        WHERE id=#{id}
        ORDER BY board_no
    </select>

    <select id="myCommentList" resultType="comment">
        SELECT comment_num, content, id, written_date, view_count
        From dust_comment
        Where id=#{id}
        ORDER BY comment_num
    </select>


    <insert id="save">
        INSERT INTO dust_board
        (title,content,view_count,id,distinguish,category)
        <if test="id == 'admin'">
        VALUES(#{title},#{content},0,#{id},1, #{category})
        </if>
        <if test="id != 'admin'">
            VALUES(#{title},#{content},0,#{id},0, #{category})
        </if>
    </insert>


    <select id="getCategoryByboardNo" resultType="board">
        select category from dust_board
        where board_no = #{boardNo}
    </select>

    <update id="addViewCount">
        update dust_board set view_count = view_count + 1 where board_no = #{boardNo}
    </update>

</mapper>