<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlkw.cafe.repository.CommentMapper">

    <select id="getBoardCommentList" resultType="comment">
        select *
        from dust_comment
        <if test="boardNo>0">
            where board_no = #{boardNo}
        </if>
        order by written_date desc;
    </select>

<!--    동우  아이디로 내가쓴 댓글 list 찾기-->
    <select id="myCommentList" resultType="comment">
        SELECT *
        From dust_comment
        Where id=#{id}
    </select>

    <select id="todayCountComment" resultType="int">
        SELECT COUNT(*)
        FROM dust_comment
        WHERE DATE_FORMAT(written_date, '%m%d') = #{today}
    </select>

    <insert id = "addComment">
        insert into dust_comment (id, content, board_no) values (#{id}, #{content}, #{boardNo})
    </insert>

    <update id="addLike">
        update dust_comment set like_it = like_it + 1 where comment_num = #{commentNum}
    </update>

</mapper>