<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlkw.cafe.repository.MemberMapper">

    <insert id = "save">
        insert into dust_member value (#{id}, #{pw}, #{addr}, #{age}, #{phoneNum}, #{gender}, #{email}, #{nickname}, #{level})
    </insert>

    <select id="findOne" resultType="member">
        select * from dust_member where id = #{id} and pw = #{pw}
    </select>

    <select id="findOneById" resultType="member">
        select * from dust_member where id = #{id}
    </select>

    <select id="findNicknameByCommentNum" resultType="String">
        select nickname
        from dust_member
        where id = (select id
                    from dust_comment
                    where comment_num = #{commentNum})
    </select>


    <!-- 동우 마이페이지 개인 정보 수정-->
    <update id="mypageUpdate">
        UPDATE dust_member
        SET id=#{id},
        pw=#{pw},
        addr=#{addr},
        age=#{age},
        phone_num=#{phoneNum},
        gender=#{gender},
        email=#{email},
        nickname=#{nickname}
        WHERE id=#{id}
    </update>


</mapper>
