<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/board-common.css">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/modify.css">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/header.css">
</head>

<body>
<div class="modify-container">
    <header class="top-header">
        <!-- logo,burger-btn태그 onclick 이벤트 추가 필요 -->
        <img class="logo" src="/src/main/resources/static/assets/jpg/logo_yellow.png" alt="">
        <div class="logo-text">Space Dust</div>
        <img class="burger-btn" src="/src/main/resources/static/assets/jpg/button.png" alt="">
    </header>
    
    <!-- <div class="notice-main-title"></div> -->
    <header class="modify-btn-wrapper">
        <div class="text-title">Category</div>
        <div class="category-wrapper">
            <button class = "selectCategory">Horror</button>
            <button class = "selectCategory">Romance</button>
            <button class = "selectCategory">Action</button>
            <button class = "selectCategory">SF</button>
        </div>
        <input type="hidden" class = "category" name = "category">
    </header>
    <div class="modify-text-wrapper">
        <div class="text-title">Title</div>
        <textarea rows="1" name="title" id="title" class="title-area"></textarea>
        <div class="text-title">Content</div>
        <textarea rows="1" name="content" id="content" class="content-area"></textarea>
    </div>

    <div class="modify-confirm-wrapper">
        <button>수정</button>
        <button>취소</button>
    </div>
</div>

<script>
    const $setcategory = document.querySelector('.category-wrapper');
    $setcategory.addEventListener('click', selectCategory);

    function selectCategory(e) {
        const $catetory = document.querySelector('.category');
        const $selected = e.target.closest('.selectCategory');
        $catetory.value = $selected.innerText.toUpperCase();
    }
</script>
</body>

</html>