<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/board-common.css">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/mypage.css">
    <title>Document</title>
</head>
<body>


    <section class="container">
        <header class="top-header">
            <!-- logo,burger-btn태그 onclick 이벤트 추가 필요 -->
            <img class="logo" src="../../../resources/static/assets/jpg/logo_yellow.png" alt="logo_yellow">
            <div class="logo-text">Space Dust</div>
            <img class="burger-btn" src="../../../resources/static/assets/jpg/button.png" alt="button">
        </header>

        <div>
            <div>내 정보</div>
            
        </div>

    </section>
    
</body>
</html>